@import url('https://fonts.googleapis.com/css?family=K2D:300,400,500,600,700');

*{
    font-family: 'K2D', sans-serif !important;    
    color: #fff;
    box-sizing: border-box;
}

.page_head {
    margin-left: 95px;
    color: black;
    font-size: 28px;
    font-weight: bold;
}

.page_head:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 1023px;
    margin-right: -90%;
      margin-left: 10px;
      border-top: 1px solid #ccc;
}

#tblList thead {
    color: #FFF;
}

.control-label {
    padding-bottom: 10px;
    color: black;
}

.table-bordered thead tr th {
    color: black;
}

.table-bordered td {
    color: black;
}

.btn-success {
    width: 90px;
    background-color: blue;
    border: 0px;
    font-weight: regular;
}